.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    gap: 70%;
}

.about-login{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    size: 24px;
    font-weight: 800;
    text-decoration: none;
    color: inherit;
}

#about{
    size: 24px;
    padding-right: 5%;
    width: 100px;
    text-decoration: none;
    color: inherit;
}

#login-button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    size: 24px;
    background-color: #378C84;
    border-radius: 5%;
    border: none;
}