
.ingredient-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rectangle{
    height: 500px;
    width: 1000px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 5%;
    position: relative;
}

.button-section{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}

.selection-title{
    font-size: 24px;
    font-weight: 300;
}

.selection-buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.default-button {
    background-color: orange;
}

.menu-button {
    background-color: #D9D9D9;
}

.selection-buttons button{
    font-size: 22px;
    border-radius: 10%;
    border:none;
    width: 100px;
    height: 35px;
    cursor: pointer;
}

.selection-buttons button:hover{
    background-color: orange;
}

