:root {
  --primary-color: #378C84;
}

.App {
  text-align: center;
}


.main{
  background-image: url('img/main-bg.png');
  height: 850px;
}

.App-link {
  color: #61dafb;
}

.generate-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.main-title{
  color: var(--primary-color);
  font-size: 56px;
  padding-top: 50px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: 'Abhaya Libre', serif;
  font-weight: 600;
}

.main-sub{
  font-size: 28px;
  margin-top: 0; 
  padding-top: 5px;
}