:root {
  --primary-color: #378C84;
}

.App {
  text-align: center;
}


.main{
  background-image: url('img/main-bg.png');
  height: 850px;
}

.App-link {
  color: #61dafb;
}




.generate-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}